## Web specific values
# web required values
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/letta-web"
GOOGLE_CLIENT_ID=op://dev/GOOGLE_CLIENT_ID/credential
GOOGLE_CLIENT_SECRET=op://dev/GOOGLE_CLIENT_SECRET/credential
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
LETTA_AGENTS_ENDPOINT=http://localhost:8283
NEXT_PUBLIC_CURRENT_HOST=http://localhost:3000
TEMPORAL_API_HOST=localhost:7233

# not required for web, but enables non-essential features
MIXPANEL_TOKEN=
NEXT_PUBLIC_MIXPANEL_TOKEN=
LAUNCH_DARKLY_SDK_KEY=
HUBSPOT_API_KEY=

# To enable github login
AUTH_GITHUB_CLIENT_ID=op://dev/AUTH_GITHUB_CLIENT_ID/credential
AUTH_GITHUB_CLIENT_SECRET=op://dev/AUTH_GITHUB_CLIENT_SECRET/credential
AUTH_GITHUB_REDIRECT_URI=http://localhost:3000/auth/github/callback

## Cypress specific values
CYPRESS_GOOGLE_CLIENT_ID=op://dev/CYPRESS_GOOGLE_CLIENT_ID/credential
CYPRESS_GOOGLE_CLIENT_SECRET=op://dev/CYPRESS_GOOGLE_CLIENT_SECRET/credential
CYPRESS_GOOGLE_REFRESH_TOKEN=op://dev/CYPRESS_GOOGLE_REFRESH_TOKEN/credential

## Core specific values
# core required values
LETTA_PG_USER=postgres
LETTA_PG_PASSWORD=postgres
LETTA_PG_HOST=localhost
LETTA_PG_PORT=5432
LETTA_PG_DB=letta-core

## not required for core, but enables non-essential features
E2B_API_KEY=
E2B_SANDBOX_TEMPLATE_ID=


## The COMPOSIO_API_KEY is weird, both core and web use it, use it to enable composio
COMPOSIO_API_KEY=

## stress specific values
LETTA_STRESS_TESTING_KEY="(this is a letta-web api key)"
LETTA_STRESS_TESTING_BASE_URL=http://localhost:3000
