# See http://help.github.com/ignore-files/ for more about ignoring files.


reports
# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

# Next.js
.next
out

storybook-static

.env
.env.*
!.env.template
deployment_env.yaml

data/dump.rdb

tsconfig.tsbuildinfo

# Sentry Config File
.env.sentry-build-plugin

data/

external-services/*
!external-services/.gitkeep


.swc

flag.overrides.json

# Fern SDK Previews
**/.preview

vite.config.*.timestamp*
vitest.config.*.timestamp*


./openapi_letta.json
./openapi_openai.json

# terraform state files
.terraform
.terraform.*
.tsbuildinfo

# claude
.claude

# cloud plugins
/apps/core/letta/plugins/production.py

# Cypress cache
apps/web/cypress/.cache/
