/* .fern-header-container * {
  font-weight: 600;
} */
 
:root {
  --radius: 0px;
}

/* Override styles related to soft borders */
.fern-button {
  border-radius: 0 !important;
}
.fern-collapsible-card {
  border-radius: 0 !important;
}
.fern-api-property-meta code {
  border-radius: 0 !important;
}
.fern-docs-badge {
  border-radius: 0 !important;
}
.bg-accent-highlight {
  border-radius: 0 !important;
}
.fern-scroll-area {
  border-radius: 0 !important;
}
.fern-dropdown-item {
  border-radius: 0 !important;
}
.fern-anchor-icon {
  border-radius: 0 !important;
}
.fern-search-bar {
  border-radius: 0 !important;
}
.keyboard-shortcut-hint {
  border-radius: 0 !important;
}
.fern-search-button {
  border-radius: 0 !important;
}
code:not(.code-block) {
  border-radius: 0 !important;
}
.fern-accordion {
  border-radius: 0 !important;
}
.fern-table-root,
.fern-table,
.fern-table thead,
.fern-table tbody,
.fern-table tr,
.fern-table th,
.fern-table td {
  border-radius: 0 !important;
}
/* [data-radix-scroll-area-viewport] {
  border-radius: 0 !important;
}
[data-radix-popper-content-wrapper] {
  border-radius: 0 !important;
} */
[data-radix-popper-content-wrapper],
[data-radix-popper-content-wrapper] > * {
  border-radius: 0 !important;
}

.rounded-xl,
.rounded-lg,
.rounded-md,
.rounded-sm,
.fern-sidebar-link {
  border-radius: 0px !important;
}

:is(.light) .code-block-line-content span[style*="color: rgb(194, 195, 197);"] {
  color: #8e8e8e !important;
}

/* Different opacity for active items in the sidebar */

/* Light mode */
:is(.light) .fern-sidebar-link-container[data-state="active"] .fern-sidebar-link {
  background-color: rgba(7, 7, 172, 0.04);
}

:is(.light) body#fern-docs  .fern-sidebar-link[data-state="active"] {
  background-color: rgba(7, 7, 172, 0.04);
}

:is(.light) .fern-sidebar-link-container[data-state="active"] .fern-sidebar-link-text {
  color: #0707ac;
}

:is(.light) body#fern-docs  .fern-sidebar-link[data-state="active"] span {
  color: #0707ac;
}

/* Dark mode */
:is(.dark) .fern-sidebar-link-container[data-state="active"] .fern-sidebar-link {
  background-color: rgba(255, 187, 173, 0.08);  /* #FFBBAD */
}

:is(.dark) body#fern-docs  .fern-sidebar-link[data-state="active"] {
  background-color: rgba(255, 187, 173, 0.08);  /* #FFBBAD */
}

:is(.dark) .fern-sidebar-link-container[data-state="active"] .fern-sidebar-link-text {
  color: #FF5533;
}

:is(.dark) body#fern-docs  .fern-sidebar-link[data-state="active"] span {
  color: #FF5533;
}

/* Make uppercase sidebar heading */
.fern-sidebar-heading .fern-sidebar-heading-content,
.fern-breadcrumb-item {
	/* font-family: var(--typography-code-font-family); */
	font-weight: 600;
	/* letter-spacing: 0.05em; */
	text-transform: uppercase;
	/* color: var(--gray-12); */
	font-size: 0.8rem;
	/* text-decoration: none; */
}

/* .fern-theme-default.fern-container .fern-header-tabs .fern-header-tab-button .fern-header-container * {
  font-size: 1rem;
} */

.t-muted.whitespace-nowrap.text-xs,
.inline-flex.items-baseline.gap-1 {
  display: none !important;
}

/* @supports (overscroll-behavior: none) {
  html, body {
    overscroll-behavior: none;
  }
} */

/* dark/light mode toggle for images */
:is(.dark) img.dark {
  display: block;
}

:is(.dark) img.light {
  display: none;
}

:is(.light) img.light {
  display: block;
}

:is(.light) img.dark {
  display: none;
}