import React from 'react';
import Image from 'next/image';
import image from './<%= logoMarkLockupFilePath %>';

export function <%= name %>Lockup() {
  return (
    <Image src={image} alt="<%= name %> Lockup" />
  );
}
