import React from 'react';
import Image from 'next/image';
import image from './<%= logoMarkLockupFilePath %>';

interface <%= name %>LockupProps {
  width?: number;
  height?: number;
}

export function <%= name %>Lockup(props: <%= name %>LockupProps) {

  return (
    <Image src={image} alt="<%= name %> Logo" {...props} />
  );
}
