//.agent-page-fade-out {
//  opacity: 0;
//  transition: opacity 0.3s;
//}

.agent-page-fade-out .loader-content {
  animation: fade-out-move-up 0.5s forwards;
}

@keyframes fade-out-move-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-250px);
  }
}
