.agent-details-overlay {
  top: 104px;
  max-width: 330px;
  right: 0;
  position: absolute;
  width: 40%;
}

@media (max-width: 962px) {
  .agent-details-overlay {
    position: relative;
    width: 100%;
    max-width: 100%;
    top: 0;
  }
}
