@import '../../libs/core-style-config/src/global.scss';

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Manrope';
  font-display: swap;
  src: url('assets/fonts/variable/Manrope-VF.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-display: swap;
  src: url('assets/fonts/variable/FiraCode-VF.ttf') format('truetype');
}



html {
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
  Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  container-type: inline-size;
}

:root {
  --background: var(--background-grey);
}

/* Follow the OS interface colours or force the use of the dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}
//
//.linear-gradient-background {
//  background: hsl(var(--background-grey));
//}
//
//.linear-gradient-background:before {
//  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, hsl(var(--background-grey)) 10%, hsl(var(--background-grey)) 100%);
//}
