.observability-grid {
  display: flex;
  grid-template:  "a b" 250px;
  gap: 16px;
}


.observability-chart-row {
  display: flex;
  gap: 0;
}

@media (max-width: 1104px) {
  .observability-chart-row {
    flex-direction: column;
  }

  .observability-chart-row .vr {
    display: none;
  }

  .observability-chart-row > * {
    border-bottom: 1px solid var(--border-color);
  }
}
