name: Generate E2B template

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  changed-files:
    runs-on: [self-hosted, medium]
    name: changed-files
    outputs:
      all_changed_files: ${{ steps.changed-files.outputs.all_changed_files }}
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Get changed files
        if: github.event_name == 'pull_request'
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            apps/e2b/e2b.Dockerfile

  build-e2b-template:
    needs: [changed-files]
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'pull_request' && needs.changed-files.outputs.any_changed == 'true')
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: true

    - uses: actions/setup-node@v4
      with:
        node-version: 24

    - name: Install E2B CLI
      run: npm install -g @e2b/cli

    - name: Authenticate to Google Cloud
      id: auth
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2

    - name: Get e2b access token
      working-directory: apps/e2b
      run: echo E2B_ACCESS_TOKEN=$(gcloud secrets versions access latest --secret dev_ci_E2B_ACCESS_TOKEN) >> $GITHUB_ENV

    - name: Build e2b
      id: build-e2b-template
      working-directory: apps/e2b
      env:
        E2B_ACCESS_TOKEN: ${{ env.E2B_ACCESS_TOKEN }}
      run: |
        e2b template build --team 2f08c5f3-7dea-4d3b-bf14-898907e19621 --cpu-count 2 --memory-mb 4096 -c "/root/.jupyter/start-up.sh"
        template_id=$(grep '^template_id' e2b.toml | cut -d'"' -f2)
        echo "template_id=$template_id" >> $GITHUB_OUTPUT

    - name: Update Template ID
      id: update-template-id
      run: |
        template_id=${{ steps.build-e2b-template.outputs.template_id }}
        echo "$template_id" | gcloud secrets versions add dev_e2b_E2B_SANDBOX_TEMPLATE_ID --data-file=-
