/* Spin keyframes */

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(90deg);
  }

  20% {
    transform: rotate(90deg);
  }

  30% {
    transform: rotate(180deg);
  }

  40% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(270deg);
  }

  60% {
    transform: rotate(270deg);
  }

  70% {
    transform: rotate(180deg);
  }

  80% {
    transform: rotate(180deg);
  }

  90% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
